<h1 align="center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<section class="grid-container">
  <% @merchants.each do |merchant|%>
    <section class="grid-item" id="merchant-<%= merchant.id %>">
      <h2><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" if current_admin? %></h2>
      <h2><%= link_to merchant.name, "/merchants/#{merchant.id}" if !current_admin? %></h2>
      <p>City: <%= merchant.city %></p>
      <p>State: <%= merchant.state %></p>
      <% if current_admin? %>
        <p>Status: <%= merchant.status.capitalize %></p>
        <%= button_to merchant_status_button_text(merchant), "/admin/merchants/#{merchant.id}/update_status", controller: 'admin/merchants', method: :patch if current_admin?%>
      <% end %>
    </section>
  <% end %>
</section>
