<h2>All Users</h2>

<ul>
  <% @users.each do |user| %>
    <section id="users-<%= user.id %>">
      <li><h2><%= link_to "#{user.name}", "/admin/users/#{user.id}" %></h2><p>Created: <%= user.created_at.to_date %></p></li>
      <p>Role: <%= user.role.gsub('_', ' ').capitalize %></p>
      <p>Address: <%= user.address %></p>
      <p>City: <%= user.city %></p>
      <p>State: <%= user.state %></p>
      <p>Zip Code: <%= user.zip %></p>
      <p>E-mail: <%= user.email %></p>
      <%= link_to "Edit Profile", "/admin/users/#{user.id}/edit" %>
      <%= link_to "Edit Password", "/admin/users/#{user.id}/edit/password" %>

      <%= link_to "Upgrade to Merchant User", "/admin/users/#{user.id}/edit_role" if user.role == 'default' %>

      <% if user.is_active == false %>
        <%= link_to 'Enable', "/admin/users/#{user.id}/enable" %>
      <% elsif user.is_active == true %>
        <%= link_to 'Disable', "/admin/users/#{user.id}/disable" %>
      <% end %>

    </section><hr>
  <% end %>
</ul>
